/*Главное портфолио*/
.title {
    margin-left: 7%;
    margin-top: 30px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Marmelad", sans-serif;
    margin-bottom: 30px;
}

.main-portfolio {
    margin-bottom: 50px;
}

#test {
    margin-left: 3%;
    margin-right: 3%;
}

/*моё*/
.holder {
    text-align: center;
    min-width: 100%;
    max-width: 100%;
}

/*для отдельных работ*/
h2.project {
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Marmelad", sans-serif;
}

.project-text {
    text-align: center;
    padding-top: 50px;
    padding-left: 3%;
    margin-top: auto;
    padding-bottom: 15%;
}

.portfolio {
    min-width: 95%;
    max-width: 95%;
}

.row-my {
    padding-bottom: 50px;
}
