@media screen and (max-width: 900px) {
    .image {
        position: static !important;
        display: inline;
    }

    .content {
        position: static;
        display: inline;
    }
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

p {
    text-indent: 1.5em;
}

/*фон*/
.image {
    position: fixed;
    min-width: 100%;
    max-width: 100%;
    background-position: center center;
    background-color: #edecea;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 1260px;
}

.content {
    max-width: 960px;
    min-width: 100%;
    margin: 0 auto;
    margin-top: 48%;
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
}

/*главная страница*/
#fons {
    min-width: 100%;
    max-width: 100%;
    background-size: cover;
}

.fons {
    padding-left: 0;
    padding-right: 0;
}

.rezume {
    padding-top: 5%;
    text-align: center;
}

h6 {
    padding-bottom: 10px;
}

.work {
    text-align: left;
    padding: 2px 20% 0 20%;
    min-width: 100%;
    max-width: 100%;
}

.btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.hr {
    margin: 0px;
}

#table {
    border: 1px solid gray;
}

.table {
    background-color: gray;
}

.h2_table {
    font-size: 37pt;
    color: gray;
}

.plus {
    background-color: rgba(214, 129, 68, 0.109);
}

body {
    background-color: #ffffff;
}

h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Marmelad", sans-serif;
    font-size: 70pt;
    color: #E14F0F;
}

h2 {
    font-size: 37pt;
    color: #E14F0F;
}

header {
    background-color: #ffffff;
}

.container-fluid {
    margin-top: 15px;
}

#menu {
    padding-top: 18px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

#logo_header {
    width: 50px;
    margin-right: 65px;
    margin-bottom: 5px;
    text-align: center;
}

#logo_footer {
    width: 100px;
}

/*Страница о нас */

.my-photo {
    min-width: 100%;
    max-width: 100%;
}

.info {
    max-width: 960px;
    min-width: 100%;
    margin: 0 auto;
    background-color: rgb(246, 246, 246);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    z-index: 2;
    height: 100%;
}

.reviews {
    padding-right: 10%;
}

/*скрол*/

.section {
    position: relative;
    padding-top: 120px;
    width: 100%;
    height: 100%;
}

.section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 80%;
}

.section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font: normal 300 64px/1 "Josefin Sans", sans-serif;
    text-align: center;
    white-space: nowrap;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: rgb(0, 0, 0);
    font: normal 400 20px/1 "Josefin Sans", sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
}

.demo a:hover {
    opacity: 0.5;
}

#section05 a {
    padding-top: 70px;

}

#section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#h3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Marmelad", sans-serif;
    color: #E14F0F;
    text-align: center;
    padding-top: 55px;
    font-weight: bold;
}

/*Главная стрница обо мне*/
@media only screen and (max-width: 768px) {
    .card-my {
        position: static !important;
        display: inline;
    }

    h1 {
        font-size: 28pt;
    }

    h2 {
        font-size: 12pt;
    }

    .work {
        text-align: left;
        padding: 2px 3% 0 3%;
    }

    #first {
        order: 3;
    }

    #second {
        order: 1;
    }

    #third {
        order: 2;
    }
}

.main {
    margin: auto;
    margin-left: 2%;
}

.card-my {
    position: absolute;
    top: 40%;
    left: 62%;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.my-img {
    border-radius: 50%;
    padding: 20px;
    width: 50%;
    float: right;
    text-align: center;
}

.socseti {
    padding-top: 70px;
    text-align: center;
}

/*цены*/
.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -0.25rem;
        margin-bottom: 0.25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}

#logo_head {
    width: 200px;
}

/*Футер*/

footer {
    padding: 30px 5px;
    background-color: rgb(246, 246, 246);
    text-align: center;
}

#logo_footer {
    width: 100px;
}

.footer-clean {
    padding: 100px 0;
    background-color: rgb(246, 246, 246);
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.feature {
    margin: 5%;
}

.feature_block {
    margin-left: 5%;
    margin-right: 5%;
}

/* размер ссылок в меню*/
.a {
    font-size: 12pt;
}

/*Страница контактов*/
.contakts {
    background-color: rgb(246, 246, 246);
}

.contacts {
    padding-top: 80px;
    padding-bottom: 150px;
}

.cont {
    font-size: 18pt;
}

.cont-img {
    min-width: 100%;
    max-width: 100%;
}

body {
    line-height: 30px;
}
